/*--------------------PIE DE PAGINA--------------------*/

footer h3 {
    border: solid 1px rgb(223, 159, 77);
    border-radius: 15px;
    padding: 5px;
    margin-top: 15px;
    width: 220px;
    background-color: rgba(0, 0, 0, 0.534);
    font-weight: 200;
    color: rgb(223, 159, 77);
}

footer a img {
    padding: 2px;
    margin: 5px;
    width: 40px;
}
