/*--------------------ENCABEZADO--------------------*/

span.navbar-toggler-icon{
    color: white;
}

h1{
    color:  rgb(223, 159, 77)
}
header nav img {
    width: 150px;
    margin: 5px;
}

.accordion-button{
    background-color: rgb(223, 159, 77);
}

.accordion-item{
    background-color: rgb(223, 159, 77);
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: rgb(223, 159, 77) solid 1px;
}

.navbar-nav {
    display: inline-block;
    padding-bottom: 5px;
    padding-top: 20px;
}

.nav-item {
    display: inline-block;
}

.nav-link {
    border-radius: 15px;
    background-color: rgb(51, 45, 45);
    margin: 40px;
    padding: 10px;
    border: rgb(223, 159, 77) solid 2px;
    list-style-type: none;
    text-align:center;
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    background-color: white;
    color: rgb(223, 159, 77);
}


.active {
    color: white;
    text-decoration: none;
}